@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#dialog-info {
    font-family: Arial, serif;
}

#close-button {
    position: absolute;
    right: 0;
    top: 0;
}

#monitor-outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#monitor-wrapper {
    height: 141px;
    width: 500px;
	border-style: solid;
	border-width: 1px;
    margin-top: 8px;
}



#monitor-header {
    height: 30px;
    width: 485px;
    background-color: #ffb029;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
}

.monitor-title {
	font-family: Roboto, sans-serif;
    font-weight: 400;
	font-size: 13px;
}

#monitor-title-text {
	font-family: Roboto, sans-serif;
    margin-right: 15px;
	font-size: 16px;
}

#finished-time {
	
}


.monitor-content-wrapper {
    height: 30px;
    width: 426px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 37px;
    padding-right: 37px;
}

#monitor-column-titles-wrapper {
    background-color: #d6d6d6;
}

.monitor-info-row-wrapper {
    margin-top: 3px;
}

.monitor-info-row {
    position:absolute;
    margin-left: 83px;
    height: 25px;
    width: 250px;
    border-style: solid;
	border-width: 1px;
    background-color: #d6d6d6;
	border-radius: 4px;
}

.monitor-progress-text {
    position: absolute;
    height: 25px;
    width: 250px;
    text-align: center;
    line-height: 25px;
	font-family: Roboto, sans-serif;
	font-size: 13px;
}

.progress-bar {
    height: 25px;
    width: 0;
	border-radius: 2px;
}

#created-bar {
    background-color: #80d2ff;
}

#status-text {
	padding-left: 5px;
}

#finished-bar {
    background-color: #5bfc60;
}

.time-container {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 50px
}

#monitor-bars-divider {
    height: 5px;
    width: 500px;
    margin-top: 5px;
    background-color: #d6d6d6;
}

#monitor-snackbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#monitor-snackbar.show {
  visibility: visible;
  -webkit-animation: monitor-fadein 0.5s, monitor-fadeout 0.5s 2.5s;
  animation: monitor-fadein 0.5s, monitor-fadeout 0.5s 2.5s;
}

#monitor-snackbar p {
  font-size: 15px;
}

@-webkit-keyframes monitor-fadein {
  from {
      bottom: 0;
      opacity: 0;
  }
  to {
      bottom: 30px;
      opacity: 1;
  }
}

@keyframes monitor-fadein {
  from {
      bottom: 0;
      opacity: 0;
  }
  to {
      bottom: 30px;
      opacity: 1;
  }
}

@-webkit-keyframes monitor-fadeout {
  from {
      bottom: 30px;
      opacity: 1;
  }
  to {
      bottom: 0;
      opacity: 0;
  }
}

@keyframes monitor-fadeout {
  from {
      bottom: 30px;
      opacity: 1;
  }
  to {
      bottom: 0;
      opacity: 0;
  }
}
