#dialog-info {
    font-family: Arial, serif;
}

#close-button {
    position: absolute;
    right: 0;
    top: 0;
}

#monitor-outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#monitor-wrapper {
    height: 200px;
    width: 500px;
}

#monitor-header {
    height: 35px;
    width: 495px;
    background-color: #ffb029;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
}

.monitor-title {
    font-weight: 900;
}

#monitor-title-text {
    margin-right: 30px;
}

.monitor-content-wrapper {
    height: 35px;
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

#monitor-column-titles-wrapper {
    background-color: #d6d6d6;
}

.monitor-info-row-wrapper {
    margin-top: 10px;
}

.monitor-info-row {
    position:absolute;
    margin-left: 85px;
    height: 25px;
    width: 250px;
    border-style: solid;
    background-color: #d6d6d6;
}

.monitor-progress-text {
    position: absolute;
    height: 25px;
    width: 250px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.progress-bar {
    height: 25px;
    width: 0;
}

#created-bar {
    background-color: #80d2ff;
}

#finished-bar {
    background-color: #5bfc60;
}

#monitor-bars-divider {
    height: 5px;
    width: 500px;
    margin-top: 10px;
    background-color: #d6d6d6;
}
